<amexio-card [footer]="false" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Employee Details
    </amexio-header>
    <amexio-body>
        <amexio-dropdown [(ngModel)]="getemployeedetailsModel.empId" name="getemployeedetailsModel.empId" [search]="true" [field-label]="'Employee'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/emp/findall'" [http-method]="'get'" [data]="empId_Data"
            [display-field]="'firstName'" [value-field]="'id'">
        </amexio-dropdown>
        <amexio-checkbox [field-label]="'Get Employee Details'" [(ngModel)]="getemployeedetailsModel.chk" name="getemployeedetailsModel.chk" [required]="true" (click)="click_chk($event)">
        </amexio-checkbox>
        <amexio-fieldset [title]="'Employee Details'">
            <amexio-row>
                <amexio-column size="6">
                    <amexio-text-input [field-label]="'First name'" [(ngModel)]="getemployeedetailsModel.firstName" name="getemployeedetailsModel.firstName" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                    </amexio-text-input>
                </amexio-column>
                <amexio-column size="6">
                    <amexio-text-input [field-label]="'Last name'" [(ngModel)]="getemployeedetailsModel.lastName" name="getemployeedetailsModel.lastName" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                    </amexio-text-input>
                </amexio-column>
            </amexio-row>

            <amexio-row>
                <amexio-column size="6">
                    <amexio-number-input [field-label]="'Age'" [(ngModel)]="getemployeedetailsModel.age" name="getemployeedetailsModel.age" [allow-blank]="true" [font-size]="10" [has-label]="true" [min-value]="0" [max-value]="20">
                    </amexio-number-input>
                </amexio-column>
                <amexio-column size="6">
                    <amexio-email-input [field-label]="'Email'" [(ngModel)]="getemployeedetailsModel.email" name="getemployeedetailsModel.email" [allow-blank]="true" [font-size]="10" [has-label]="true">
                    </amexio-email-input>
                </amexio-column>
            </amexio-row>

        </amexio-fieldset>

    </amexio-body>

</amexio-card>